#calorieForm input {
  border: solid var(--form-field-border-thickness)
    var(--dynamic-border-color, #a9a9a9);
  border-radius: 0;
  box-shadow: 0 0 0 1px transparent;
  color: var(--dynamic-input-text-color, #000000);
  background-color: var(--dynamic-fill-color, #fafafa);
  transition: var(--fill-hover-transition);
  padding: var(--form-field-padding-vertical)
    var(--form-field-padding-horizontal);
  font-size: calc(
    (var(--form-block-input-text-font-font-size-value) - 1) * 1.2vw + 1rem
  ) !important;
  font-family: var(--form-block-input-text-font-font-family);
  font-style: var(--form-block-input-text-font-font-style);
  font-weight: var(--form-block-input-text-font-font-weight);
  line-height: var(--form-block-input-text-font-line-height);
  letter-spacing: var(--form-block-input-text-font-letter-spacing);
  text-transform: var(--form-block-input-text-font-text-transform);
}

#calorieForm select {
    border: solid var(--form-field-border-thickness) var(--dynamic-border-color,#a9a9a9);
    border-radius: 0;
    box-shadow: 0 0 0 1px transparent;
      color: var(--dynamic-input-text-color,#000000);
      background-color: var(--dynamic-fill-color,#fafafa);
    transition: var(--fill-hover-transition);
      font-size: calc((var(--form-block-select-dropdown-text-font-font-size-value) - 1) * 1.2vw + 1rem) !important;
      font-family: var(--form-block-select-dropdown-text-font-font-family);
    font-style: var(--form-block-select-dropdown-text-font-font-style);
    font-weight: var(--form-block-select-dropdown-text-font-font-weight);
    line-height: var(--form-block-select-dropdown-text-font-line-height);
    letter-spacing: var(--form-block-select-dropdown-text-font-letter-spacing);
    text-transform: var(--form-block-select-dropdown-text-font-text-transform);
  padding: var(--form-field-padding-vertical) var(--form-field-padding-horizontal);
}

#calorieForm label {
  font-weight: 700;
}

    #calorieForm {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .calc-form-section {
      width: calc(33.33% - 10px); /* Adjust for spacing */
      box-sizing: border-box;
      padding: 10px; /* Add padding for spacing */
    }

    .div-unit {
      width: 100%;
      box-sizing: border-box;
      padding: 10px; /* Add padding for spacing */
    }

