@import 'https://static1.squarespace.com/static/versioned-site-css/652a61910045f920b85ee095/33/5c5a519771c10ba3470d8101/652a61910045f920b85ee09d/1463/site.css';

@font-face {
    font-family: "Heading";
    src: url('https://hpapas-cdn.pages.dev/strive-performance/fonts/BebasNeue.otf') format("truetype");
}

@font-face {
    font-family: "Paragraph";
    src: url('https://hpapas-cdn.pages.dev/strive-performance/fonts/Avenir.ttf') format("truetype");
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
h1, h2, h3, h4, h5, h6 {
    font-family: "Heading" !important;
}

/* p, span, a {
    font-family: "Paragraph" !important;
} */

.sqs-block-button-element {
    border-width: 0 !important;
}

#block-4f6b2e26fa2fee3f6c94 .sqs-block-alignment-wrapper {
    justify-content: center;
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
}

#yui_3_17_2_1_1712316197095_101 a {
    font-weight: 700 !important;
}

.lessons.collection-content-wrapper .grid-desc.description,
.fe-block-yui_3_17_2_1_1699522520637_14176 {
  display: none !important;
}

.accordion-item__description {
    max-width: 100% !important;
}

/*** Nav ***/

.cloned-subnav {
    display: block !important;
    padding-left: 3vw;
    padding-right: 3vw;
    margin: 0vw 5vw;
}

.header-nav-item a:hover,
.category-link:hover,
.video-category-nav-link a:hover {
  background-image: linear-gradient(currentColor,currentColor) !important;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 calc(100% - 0.1em);
}

@media (max-width: 768px) {
  .header-menu-nav-item a {
    font-size: 25px !important;
  }

  .header-menu-cta a {
    font-size: 15px !important;
  }
}

.floating-cart {
    background-color: #fff;
    color: #000;
}

.floating-cart .icon--stroke svg {
    stroke: #000;
}

/*** END Nav ***/

/*** Disable Pagination ***/

#itemPagination, .lesson-item-pagination {
  display: none;
}

/*** END Disable Pagination ***/

/*** Before/After Slider Styling ***/

div.wm-before-after-slider {
  --aspect-ratio: 1 / 1;
  --disable-hover: false;
  --starting-position: 0.5 !important;
  --border-thickness: 2px;
  --border-color: #ffffff;
  --shadow: none;
  --border-radius: 0.2rem;

  --divider-thickness: 2px;
  --divider-color: #ffffff;

  --handle-size: 50px;
  --handle-border-color: #ffffff;
  --handle-background: hsla(0,0%,0%, 0);
  --handle-thickness: 2px;
  --handle-color: #ffffff;

  --caption-offset: 17px;
  --caption-font-size: .9rem;
  --caption-border-radius: 0.2rem;
  --caption-padding-v: 8px;
  --caption-padding-h: 17px;

  --before-text: Before;
  --caption-before-background: #000000;
  --caption-before-color: #ffffff;

  --after-text: After;
  --caption-after-background: #000000;
  --caption-after-color: #ffffff;
}

/*** END Before/After Slider Styling ***/

/*** Tab Styles ***/

div.wm-tabs {
    --tab-button-border-radius: 0px !important;
}

.wm-tabs[data-navigation-type="horizontal"] {
  --nav-scrollbar-display: none;
  --tabs-header-gap: 0px;
}
.wm-tabs[data-navigation-type="horizontal"] .tabs-header nav button {
  flex-grow: 1;
  flex-basis: ~'calc(100% / var(--tabs-count))';
}

.wm-tabs nav .tab-title {
    font-family: var(--body-font-font-family) !important;
    font-weight: 500 !important;
}

/*** END Tab Styles ***/

/*** Footer ***/

@media (max-width: 768px) {

  #block-01a415bc7a90d2f92e3e, #block-yui_3_17_2_1_1697277071969_16680,
  footer .newsletter-block .newsletter-form-wrapper--alignRight .newsletter-form, 
  footer .social-icon-alignment-right .sqs-svg-icon--list {
    text-align: center !important;
  }
  
}

/*** END Footer ***/

/*** Section Loader ***/

[data-wm-plugin="load"]{
  --inner-spacing: 17px 17px;
  --outer-spacing: 0px 0px;
  border-width: 0px;
  border-style: solid;
  border-radius: 0px;
  border-color: hsla(0, 0%, 100%, 100%);
}

/*** END Section Loader ***/
