.background-pause-button {
   display: none !important;
}

#block-yui_3_17_2_1_1722594541831_16374 h1 {
   font-size: calc(var(--heading-2-size-value)* 1rem) !important;
}

#home-services .sqs-block-image-link {
   opacity: 1;
      transition: ease-in-out 300ms;
   &:hover {
      opacity: 0.6;
   }
}

@media (max-width: 768px) {
   .mobile-center {
      text-align: center;
   }
}
