footer > section {
  padding-top: 0 !important;
}

#reviews-section .wm-load-container .fe-block {
  margin: auto;
}

/*** CORE TEXT STYLE CSS ***/

p a, .summary-read-more-link {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: currentColor;
  text-decoration-thickness: 1px;
  text-underline-offset: .2em;
  text-decoration-skip: auto;
  text-decoration-skip-ink: auto;
}

h1, h2, h3, h4 {
  margin: 0 !important;
}

/*** END CORE TEXT STYLE CSS ***/

/*** HIDE ITEM PAGINATION ***/

#itemPagination {
  display: none;
}

/*** END HIDE ITEM PAGINATION ***/
