/*** PORTFOLIO PAGE STYLING ***/

.portfolio-meta {
  display: flex;
  justify-content: space-between; /* Adds space between boxes */
  flex-wrap: wrap; /* Prevents wrapping to the next line */
  gap: 16px; /* Adjusts space between boxes */
}

.portfolio-meta > div {
  flex: 1 1 calc(50% - 16px); /* Makes each box 50% width, minus the gap */
  padding: 20px;
  background-color: #F0F0F0;
}

.portfolio-meta > div > span {
  font-weight: 600 !important;
  font-family: Urbanist !important;
  font-size: 20px !important;
}

@media (max-width: 768px) {
  .portfolio-meta {
    flex-direction: column; /* Stack vertically */
    gap: 12px; /* Reduce gap for mobile */
  }

  .portfolio-meta > div {
    flex: none; /* Prevents shrinking */
    width: auto; /* Full width on mobile */
  }
}

/*** END PORTFOLIO PAGE STYLING ***/

/*** PORTFOLIO FILTER LINKS ***/

.portfolio-filter span {
   cursor: pointer;
   padding: 10px;
   display: inline-block;
    margin: 5px;
}
.portfolio-filter span.active {
   text-decoration: underline;
}
a.grid-item.hidden {
   display: none;
}
div#gridThumbs {
    padding-top: 20px;
}
.portfolio-filter {
    padding-left: 5vw;
    padding-right: 5vw;
  text-align: center;
  display: none;
}
.content .portfolio-filter {
  display: block;
}

/*** END PORTFOLIO FILTER LINKS ***/
